@import "tailwindcss";
@import "7.css/dist/7.css";

/* :root {


  --green-primary: hsl(108, 25%, 42%);

  --green-neutral: hsl(120, 43%, 88%);

  --green-light: hsl(120, 46%, 92%);

  --green-dark: hsl(109, 27%, 36%);

} */
